body {margin:0 0;
  width:1024;
  max-width:100%;
  font-family: 'Times New Roman', serif;}
p {font-size:12px;
  clear:both;}
button {margin-left:10px;
  color:#fff;
  background-color:#000;
  padding:2px 4px;
  vertical-align:top;
  font-family: 'Times New Roman', serif;}
button:hover {cursor:pointer;
  color:#000;
  background-color:#fff;}
input {margin-left:10px;
  color:#000000;
  background-color:#ffffff;}
h2 {width:350px;
	max-width:350px;
	text-align:center;
	margin:0 auto;}
h3#head_text {color:#900;}
h4 {margin:5px 0;}
fieldset {margin:0 auto;
	border: none;}
textarea {margin-bottom: 10px;
	padding-bottom:10px;}
header {max-width:100%;
	width:640px;
	text-align:center;
	margin: 10px auto;
	text-align:center;}
.arch-btn {background-color: #331;
	color: #cff;}
#main_container {margin-left: 85px;
  width:1000px;}
#header {background-color: #eee;
	display:table;
	width:100%;
	margin:0 0;
	padding:10px 0;
	border-bottom: 2px inset #933;}
#logo {margin-left: 50px;
  width:200px;
  padding: 0 10px;
  clear:both;
  float:left;}
#head_text {text-align:center;
  font-weight:bold;
  float:left;}
#head_row {margin:20px auto;
  max-width:100%;
  width:640px;
  text-align:center;
  clear:both;
  display:table;}
#footer_row {margin:0;
  width:80px;
  position:fixed;
  left:5px;
  top:240px;
  padding: 5px 3px;
  border: 1px groove #ff0;
  background-color: #fc6;}
#footer_row p, #footer_row button {float:none;
  text-align:left;
  margin:2px;}
#head_row select, #head_row option {color:#ffffff;
  background-color:#000000;}
#type_img {float:left;
  border:none;}
#date_label {font-size:16px;
	font-weight: bold;
	color: #e12300;}
#hed_date {margin-left:5px;}
#subject_line_label {margin:5px 0 0 5px;
  padding:0 0;
  font-size:14px;
  font-style: bold;}
#top_section {margin: 10px auto;
	max-width:100%;
	padding:0;
	display:inline-block;
	clear:both;}	
#button_bar {max-width:100%;
	margin: 20px auto;
	padding: 10px 0;
	display: inline-block;}
#archives {;margin: 5px auto;
	width: 650px;}
#stats_sect {margin: 10px auto;
	width:640px;}
#lost_found{color:#e33;}
#news_stats {color:#296;}
#default_memb {color:#269;}
.header_btns {border-color:#eee;
	/*background-color: #eee;*/}
.display_date {font-weight:bold;
	font-size:1.1em;}
.display_date_p {display:grid;
	grid-template-columns:50% auto;
	grid-gap: 5px;
	margin:5px auto;
	padding:3px 0;
	max-width:640px;
	width:640px;
	text-align:center;
	border-bottom:1px dotted #000;
	font-weight:bold;}
.news_btn {margin:2px 6px;
	float:left;
	color:#004;
	background-color:#eee;
	font-weight:bold;
	font-style: italic;
	font-size:1.1em;
	border-radius: 3px;
  	border-color: #c03;}
.news_btn:hover {color:#007;
	background-color:#ffb;}
.landf_btn {background-color: #ccc;
	color: #000;}
.cr_new_btn {width:230px;
	padding:1px 2px;
	color: #004;
	background-color: #fed;}
.edit_btn {margin-right:10px;
	padding:1px 5px;
	color:#004;
	font-weight:bold;
	background-color:#eee;}
.preview_btn {
	display: inline-block;
	padding:1px 5px;
	color: #133;
	background-color: #ee9;
	font-weight:600;
	font-style:italic;}
.category {margin:0 0 0 20px;
  padding:5px 5px;
  width:380px;
  float:right;}
 .category p {margin:10px 0;
  padding:0 0;
  float:left;
  text-align:left;
  font-weight:bold;
  font-size:14px;}
.section_titles {font-size:18px;
	clear:both;
	margin-bottom: 10px;
}
.current_news, .future_news, .test_news, .normal_news {
	font-size:18px;
	vertical-align: bottom;
	text-align:right;
	padding-right:10px;
	float:none;
}
.current_news span {
	color: #3c3;
}
.future_news span {font-style:italic;
	color: #28d;
	font-weight:bold;
}
.test_news span {font-style:italic;
	color: #999;
}
.date_btns {
	text-align:left;
	vertical-align: top;
}
/*for ads*/
#ad_section {margin:5px 5px;
  width:1000px;}
#ad_slots {width:430px;
	float:left;
	padding: 5px 5px;
	margin-top: 0;
	margin-left: 90px;
	border: 1px solid #000;
	display: table;}
#membership_slots{width:430px;
	float:left;
	padding: 10px 5px;
	margin: 0 5px;
	border: 1px solid #000;
	display: table;}
.ads_holder {width:600px;
	margin: 10px auto;
	border:1px solid #000;
	padding: 5px;
	display: table;
	text-align: center;
	vertical-align:top;
	clear:both;}
.ads_holder input, .ads_holder textarea {display:table-cell;
	margin-top:10px;
	clear:both;}
.ads_holder p {float:left;
	text-align:left;
	font-size: 16px;
	word-wrap:word-break;}
#archive_container {display:grid;
	grid-template-columns: auto;
	grid-gap: 5px;}
/*end ads*/
.head_types {width:1024px;}
.block_hidden {display:none;}
.block_show {display:block;}
.labels {font-size: 1.1em;
	font-weight: bold;}
#items_left, #items_right {margin:10px 0 0 0;
  /*text-align:right;*/
  clear:both;}
.sections {margin:10px 5px;
  width:425px;
  padding:5px 5px;
  border:1px groove #000 !important;}
.sections legend {font-size: 18px;
 	font-weight: bold;}
.sub_sections {margin:5px auto;
	width:415px;
	padding: 5px 5px;
	border: 2px ridge #099;}
.sections legend input {width: 300px;
	font-size: 16px;}
.sub_sections legend {
	font-size: 14px;}
.columns {margin:0 5px;
  width:450px;
  float:left;}
.dek_sect {width:75px;
  text-align:left;}
.ad_label {width:380px;
  float:left;
  text-align:right;}
/* warning message classes */
#wysiwig_msg {margin:5px auto;
	font-size:1.3em;
	text-align:center;
	padding: 5px 5px;
	font-weight:bold;
	clear:both;}
.loading_warning {
	background-color: #900;
	color: #fff;
}
.loading_done {
	background-color: #090;
	color: #fff;
}
#hidden_at_start {width:100%;
	background-color: #990000;
	text-align:center;
	padding: 10px 0;
	font-size:16px;
	font-weight: bold;
	color: #fff;
}
/* hide stuff */
.hide_me {display: none;}
/*sources section*/
.sources {margin-top:2px;
	float:left;}
.sources legend {font-size: 14px;
	font-style:italic !important;
	font-weight:normal !important;}
/* format specific elements [textarea] */
#conundrum_lead___Frame, #maindish_lead___Frame, #twmustread_lead___Frame, #topstory_lead___Frame {height:120px !important;}
#bite_section {display: none;}
/*lost and found */
.type_container p button {font-size:16px;}
/* old archive css */
td#breaking_news {background-color: #aa9979;}
td#econundrums {background-color: #33ce08;}
td#food, td#fft_red {background-color: #69ccff;}
td#politics {background-color: #cfb999;}
td#in_the_mix {background-color: #ffb999;}
//jquery.ui css